.link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    color: #96e6c1;
    margin-top: 15rem;
}

.link:hover{
    color: rgba(247, 205, 150, 0.685);
}

.app-info{
    margin-top: 13rem;
}

.title2{
    display: flex;
    justify-content: flex-end;
    margin-top: 9rem;
    margin-right: 3rem;
    font-size: 4.5rem;
    letter-spacing: 5px;
    font-family: 'Montserrat';
    color: rgb(219, 164, 92);
}

.covid1{
    margin-top: -10rem;
    margin-left: -5rem;
    width: 53%;
  }

.info{
    text-align: right;
    margin-top: -33.5rem;
    margin-left: 38rem;
    margin-right: 3rem;
    font-size: 1rem;
    font-family: 'Montserrat';
    line-height: 1.5rem;
    color:antiquewhite;
}

@media only screen and (min-width: 390px) and (max-width: 480px){
    .link{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 0.4rem;
        margin-right: 1.5rem;
        margin-left: -1rem;
    }
    
    .app-info{
        text-align: center;
        margin-top: 27rem;
    }
    
    .title2{
        display: inline-block;
        font-size: 1.7rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    
    .covid1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 2rem;
        width: 80%;
        padding-top: 20rem;
      }
    
    .info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin-top: -28rem;
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 0.7rem;
        line-height: 1.1rem;
    }
}