.table{
    margin-top: 1.5rem;
    overflow-y: scroll;
    width: 17rem;
    height: 18rem;
    color: rgb(39, 39, 39);
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.3rem;
}

.table tr:nth-of-type(odd){
    background-color: rgba(128, 128, 128, 0.205);
}